@import './ratings-map.scss';


* {
  box-sizing: border-box;
}

.container {
    width: var(--container-width);
    background-color: var(--background-color);
    height: var(--container-height);
    
}

.star-size {
    font-size: var(--star-font-size);
    
}

.star-color {
    color: var(--star-rate);
}

.star-margin {
    margin-left: var(--star-paddings);
}